.sticky-nav{
    position: fixed;
    top:0;
    z-index: 1;
}
#sub-header{
    padding-top: 20px;
}
#gifSpace{
    margin-top:10px;
}

.gifStill{
    margin: 5px 0px;
}
#addBtns{
    overflow: auto;
}